services:
  db:
    image: postgres:latest

    ports:
      - "5432:5432"

    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: bank_reviews

    volumes:
      - pgdata:/var/lib/postgresql/data

volumes:
  pgdata:
